*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    font-family: 'Lato', sans-serif;
    background-color: rgb(30, 30, 30);
  
}
/* Header*/
header{
  width: 100%;
  height: 100vh;
  background-image: url(/img/aboutme.jpg);
  background-size: cover;
  background-position: center;
}
.nav{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  transition: all 0.5s ease;
}
.nav.active{
  background-color: #fff;
  padding: 15px;
}
.nav.active .logo,
.nav.active a{
  color: #000;
}
.nav.active a:hover{
  background: #000;
  color: #fff;
}

.logo{
  font-size: 30px;
  color: #fff;
  font-weight: 100;
}
.menu{
  display: flex;
 

}
.menu li{
  list-style: none;
  margin: 9px;

}
.menu li a{
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;

}
.menu li a:hover{
  padding: 5px 10px;
  background: #fff;
  color: #000;
  border-radius: 15px;
}
.profile-header{
border-radius: 50%;
top: 10px;

}
/*  Header End*/


/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(4, 209, 228);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 150, 143);
}
/* End Scrollbar*/


/* Container Card */

.container{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  top: 7%;
  margin-left: auto;
  margin-right: auto;
}
.container .card{
  width: 750px;
  height: 550px;
  margin: 80px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px ;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5) ;
  border-left: 1px solid rgba(255, 255, 255, 0.5) ;
}

.container .card:hover{
  backdrop-filter: blur(60px);
}

.container .card .introdution{
    text-align: center;
}
.container .card .introdution h1{
  font-family: 'Bookman Old Style', sans-serif;
  font-size: 1.5em;
}

.container .card .introdution:hover h1{
  text-align: center;
  transform: translateY(-1000px);
  opacity: 0;
  transition: 0.5s; 
  top: auto;
  font-size: 1.8em;
  color: rgb(0, 0, 0);
  z-index: 1;
}
.container .card .introdution:hover h2{
  text-align: center;
  transform: translateY(-1000px);
  opacity: 0;
  transition: 0.5s; 
  top: auto;
  font-size: 1.8em;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.container .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s; 
  top: auto;
}
.container .card:hover .content{
  
  transform: translateY(0px);
  opacity: 1;
}
.container .card .content h3{
  font-family: 'Bookman Old Style', sans-serif;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  z-index: 1;
}
.container .card .content p{
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
.profile{
  border-radius: 50%;
}
/* End Container Card */

/* Body*/

.body1{
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif; 
}
.body1 h1{
    background: -webkit-linear-gradient(rgb(247, 133, 3), rgb(255, 251, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
    
}

.body1 p {
  
  text-align: justify-all;
  margin-top: 10px;
  font-size: 16px;
  margin: 30px;
 
}
#img1{
  float: right ;
  margin: 10px;
}


.body2{
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.body2 h1{
    background: -webkit-linear-gradient(rgb(247, 133, 3), rgb(255, 251, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
}

.body2 p {
  text-align: justify-all;
  margin-top: 10px;
  font-size: 16px;
  margin: 30px;
}
#img2{
  float: left ;
  margin: 10px;
}











/*End Body*/

/*  Footer */
footer {
    background: #3b3a3a;
    position: relative;
    padding: 50px;
  }
  
  .footer-content {
    text-align: center;
    max-width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }


  .footer-content a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: rgba(216, 207, 207, 0.904);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .footer-content a:hover {
    color: #11e2e9;
  }
  
  .footer-content a + a {
    margin-left: 10px;
  }
  
  footer h4 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
   
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .footer-content > div {
      width: 100% ;
      margin-bottom: 40px;
    }
  
    .footer-content h4 {
      margin-bottom: 20px;
      color:white;
      position:fixed;
      text-align: center;
      font-size:10px;
      	
    }
  }
  .signature h3{
      margin-left: 70px;
      font-family: 'Poppins', sans-serif;
      background: -webkit-linear-gradient(rgb(103, 2, 220), rgb(234, 8, 255));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 26px;
  }
  .signature p{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
  } 
  /*Change name*/
  .sopa {
    border-radius: 50%;

  }